body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark-body {
  font-family: "Poppins", sans-serif;

  background: linear-gradient(
    120deg,
    #c1c1c1 0%,
    /* warm golden */ #3b3a3a 100% /* peach-orange */
  );

  background-repeat: no-repeat;
}

.light-body {
  font-family: "Poppins", sans-serif;

  background: linear-gradient(
    120deg,
    #e4e3e3 0%,
    /* warm golden */ #90caf9 100% /* peach-orange */
  );

  background-repeat: no-repeat;
}

* {
  font-family: "Montserrat", sans-serif;
}

.dark-card {
  background-color: #414141;
}

.dark-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.light-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.light-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.dark-button:hover {
  scale: 1.1;
  background-color: #fff;
  color: #414141;
}

.light-button:hover {
  scale: 1.1;
  background-color: rgb(255, 208, 19);
  color: #fff;
  border-color: rgb(255, 208, 19);
}

.button:active {
  scale: 1;
}

.toggle-dark-circle{
  background-color: #414141;
}

.dark-input {
  background-color: #414141;
  color: white;
  border-color: #414141;
}

.hourly-dark-cards {
  background-color: #272626;
  border-radius: 8px;
}

.hourly-light-cards {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.forecast {
  background: transparent;
}
